# ==== Compilación (C) ====
*.o
*.a
*.so
*.dll
*.dylib

# Ejecutables (Linux/Mac/Windows)
task_planner
task_planner.exe
*.out

# Carpetas de build (si las usas)
bin/
build/
dist/

# ==== IDE / Editor ====
.vscode/
.idea/

# ==== Sistema operativo ====
.DS_Store
Thumbs.db
